/* common for all */
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
    font-family: "Inter", sans-serif;
}
/* shared related styles */
.disply-flex{
    display: flex;
}
.text-primary{
    color: #E95A08;
}
.common-color{
    font-size: 22px;
    color: #000000;

}
.common-font{
    font-weight: bold;
    font-size: 50px;
}
.Name{
    font-size: 22px;
    font-weight: 400;
    color: #111111;
}
.price{
    font-weight: bold;
    font-size: 22px;
    color: #111111;

}
.btn-primary{
    font-weight: 600;
    font-size: 16px;
    padding: 20px 80px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #E95A08;
}
/* header related styles */

.navbar{
     max-width: 1140px;
    margin: 0 auto; 
    justify-content: space-between;
    align-items: center;
    
   
}
.nav-item{
    list-style: none;
    /* margin-right: 35px; */
}
.Menu-items{
    gap: 40px;
}
.nav-link{
    text-decoration: none;
    color: #252432;
}
.banner{
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 170px;

}
.banner h2{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 25px;
}

.banner-left{
    gap: 15px;
}
.banner-right img{
    
}
/* Main related styles */
.plants{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card{
    text-align: center;
    margin-bottom: 25px;
}
.card p{
    margin-top: 30px;
}
.title-subtitle-container{
    text-align: center;

}
.title-subtitle-container h2{
    margin-bottom: 16px;
}
/* plants lover section related styles */
.position-relative{
    position: relative;
}
.trusted-badge{
    width: 280px;
    height: 280px;
    margin-left: 347px;
    top: -700px;
}
.flower-store{
    width: 540px;
     height: 580px; 
    margin-right: 60px;
}
.common-font, .common-color{
    margin-bottom: 20px;
}
.plants-lover-right{
    margin-top: 40px;
}
.plants-lover{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 200px;
    justify-content: space-between;
}
/* For mobile responsive */
@media screen and (max-width:776px) {
     .navbar{
        padding: 25px;
    }
    .nav-item{
        margin: 0px;
    } 
    .Menu{
        display: none;
    }
    .banner h2{
        font-size: 24px;
        font-weight: bold;
         width: 190px;
        height: 33px;
        margin-bottom: 40px; 
    }
    
    
    .banner{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-left{
        padding: 20px;
    }
    .banner-right img{
        width: 100%;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .trusted-badge{
        display: none;
    }
    .plants-lover{
        flex-direction: column;
    }
}