/* common for all */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Inter", sans-serif;
    

}
.hide {
    display: none;
}

body{
    max-width: 1440px;
    margin: 0 auto; 

}
/* shared related styles */
.disply-flex{
    display: flex;
}
.text-primary{
    color: #E95A08;
}
.common-color{
    font-size: 1.2rem;
    color: #000000;

}
.common-font{
    font-weight: bold;
    font-size: 3.12rem;
}
.Name{
    font-size: 1.38rem;
    font-weight: 400;
    color: #111111;
}
.price{
    font-weight: bold;
    font-size: 1.38rem;
    color: #111111;

}
button:hover{
    color: aqua;
    text-decoration: underline;
     cursor: pointer; 
}
li a:hover{
    color: chartreuse;
    text-decoration: underline;
}
.img-container a:hover{
    color: aqua;
    cursor: pointer;

}
.btn-primary{
    font-weight: 600;
    font-size: 1rem;
    padding: 20px 20px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #E95A08;
}
/* header related styles */

.navbar{
    max-width: 1140px;
    width: 100%; 
    margin: 0 auto; 
    padding: 0 15px; 
    justify-content: space-between;
    align-items: center;
    display: flex;
    
   
}
.nav-item{
    list-style: none;
     margin-right: 30px; 
}
.nav-link{
    text-decoration: none;
    color: #252432;
}
.banner{
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 170px;

}
.banner h2{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.banner-left{
    gap: 15px;
}
.banner-right img{
    max-width: 570px;
    width: 100%;

}
/* Main related styles */
.plants{
    max-width: 1140px; 
    width: 100%;
    margin: 0 auto; 
    text-align: center;
    padding: 40px 20px;
    margin-top: 120px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px; 
    gap: 20px;  
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.card{
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
}
.card img{
    width: 100%;
}

.card p{
    margin-top: 30px;
}
.title-subtitle-container{
    text-align: center;

}
.title-subtitle-container h2{
    margin-bottom: 16px;
}
/* plants lover section related styles */
.plants-lover{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
    margin-top: 150px;
}
.trusted-badge{
    width: 286px;
    height: 286px;
    position: absolute;
    margin-top: -130px;
    margin-left: -180px; 
}
.common-font, .common-color{
   margin-top: 20px;
}
.plants-lover-right{
    padding: 20px;
    width: 100%;
      
}
.plants-lover-left{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    
}

/* join section related style */
.join{
    max-width: 1140px; 
    margin: 0 auto;
    margin-top: 100px;
}
.text-container{
    /* max-width: 1140px; */
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 120px;

}
.img-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 28px;
    text-align: center;
    color: white; 
}
.img-container img{
    width: 100%;
    height: 100%;
    flex: 1;
}
.first-column-upper-img{
    position: relative;
}
.first-column-lower-img{
    position: relative;
}
.second-column-img{
    position: relative;
}
.text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}
.text h2{
    font-weight: bold;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}
.text h3{
    max-width: 280px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 50px;
}
.second-column-img a{
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
}
.deal-bloom, .deal-ana{
    height: 50%;
    border-radius: 14px;
}
.first-column-img a{
    font-weight: 600;
    font-size: 1rem;
    color: white;
    
}

.colurful-bunch{
    /* max-width: 1440px; */
    width: 100%;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    position: relative;
}
.colorful-img{
    width: 100%; 
    height: auto;
    display: block;
    align-items: center; 
    margin: 0 auto;

}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.btn-subscribe{
    width: 185px;
    height: 50px;
    background-color: #E95A08;
}
.btn-email{
    display: flex;
    margin: 0px;
    gap: 0px;
    border: none;
    align-items: center;
}
/* footer related style */
.footer{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.footer-img{
    width: 360px;
}
.footer-list{
    list-style: none;
    gap: 30px;
    margin-left: 110px;
}
.list-item li{
    margin-bottom: 30px;
}
.list-item  :hover{
    color: #E95A08;
    text-decoration: underline;
    cursor: pointer;
}
.icon{ 
     margin-left: 50px; 
    

}
.icon img{
    cursor: pointer;
    
}


/* For mobile responsive */
@media screen and (max-width: 576px) {
    .Menu{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .footer, .img-container{
        flex-direction: column;
    }
    .icon, .footer-list{
        margin: 0px;
    }
    .text h3{
        margin-left: 50px;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .plants-lover{
        flex-direction: column;
    }
    .trusted-badge{
        display: none;
    }
    .flower-store{
        width: 100%;
    }
    .font{
        font-size: 2rem;
    }
    br{
        display: none;
    }
    .banner h2{
        font-size: 2rem;
    }
    
}