/* common for all */
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
    font-family: "Inter", sans-serif;
}
body{
    max-width: 1440px;
    margin: 0 auto;

}
/* shared related styles */
.disply-flex{
    display: flex;
}
.text-primary{
    color: #E95A08;
}
.common-color{
    font-size: 22px;
    color: #000000;

}
.common-font{
    font-weight: bold;
    font-size: 50px;
}
.Name{
    font-size: 22px;
    font-weight: 400;
    color: #111111;
}
.price{
    font-weight: bold;
    font-size: 22px;
    color: #111111;

}
.btn-primary{
    font-weight: 600;
    font-size: 16px;
    padding: 20px 50px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #E95A08;
}
/* header related styles */

.navbar{
     /* max-width: 1140px; */
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
   
}
.nav-item{
    list-style: none;
    /* margin-right: 35px; */
}
.Menu-items{
    gap: 40px;
}
.nav-link{
    text-decoration: none;
    color: #252432;
}
.banner{
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 170px;

}
.banner h2{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 25px;
}

.banner-left{
    gap: 15px;
}
.banner-right img{
    
}
/* Main related styles */
.plants{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card{
    text-align: center;
    margin-bottom: 25px;
}
.card p{
    margin-top: 30px;
}
.title-subtitle-container{
    text-align: center;

}
.title-subtitle-container h2{
    margin-bottom: 16px;
}
/* plants lover section related styles */
.position-relative{
    position: relative;
}
.trusted-badge{
    width: 280px;
    height: 280px;
    margin-left: 347px;
    top: -700px;
}
.flower-store{
    width: 540px;
     height: 580px; 
    margin-right: 60px;
}
.common-font, .common-color{
    margin-bottom: 20px;
}
.plants-lover-right{
    max-width: 540px;
    margin-top: 40px;
    margin-left: 60px
}
.plants-lover-left{
    max-width: 540px;
    height: 590px;
}
.plants-lover{
    max-width: 1140px;
    height: 600px;
    margin: 0 auto;
    margin-top: 200px;
    justify-content: space-between;
}
/* join section related style */
.join{
    /* max-width: 1440px; */
    margin-top: 130px;
}
.text-container{
    max-width: 1440px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 120px;

}
.img-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 28px;
    text-align: center;
    color: white; 
    
}
.first-column-upper-img{
    position: relative;
}
.first-column-lower-img{
    position: relative;
}
.second-column-img{
    position: relative;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}
.text h2{
    font-weight: bold;
    font-size: 2.5rem;
    width: 400px;
}
.text h3{
    width: 300px;
    font-size: 1.2rem;
    font-weight: 500;
}
.second-column-img a{
    color: white;
    font-size: 1.75rem;
    font-weight: 600;
}
.deal-bloom, .deal-ana{
    height: 50%;
    flex: 1;
    border-radius: 14px;
}
.first-column-img a{
    /* position: relative;
    text-align: center; */
    font-weight: 600;
    font-size: 1rem;
    color: white;
    
}
.first-column-img > img{
    width: 365px;
    height: 420px;
    
}
.second-column-img > img{
    width: 750px;
    height: 420px;
    border-radius: 20px;
}
.colurful-bunch{
    max-width: 1440px;
    height: 535px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    position: relative;
}
.colorful-imag{
    /* width:1440px;
    height: 535px;
    align-items: center; */
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.btn-subscribe{
    width: 185px;
    height: 50px;
    background-color: #E95A08;
}
.btn-email{
    display: flex;
    margin: 0px;
    gap: 0px;
    border: none;
}
/* footer related style */
.footer{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.footer-img{
    width: 360px;
}
.footer-list{
    list-style: none;
    gap: 30px;
}
.list-item li{
    margin-bottom: 15px;
}
.icon{
    margin-left: 100px;

}
.icon img{
    margin-left: 15px;
}
/* For mobile responsive */
@media screen and (max-width:576px) {
     .navbar{
        padding: 25px;
    }
    .nav-item{
        margin: 0px;
    } 
    .Menu{
        display: none;
    }
    .banner h2{
        font-size: 24px;
        font-weight: bold;
         width: 190px;
        height: 33px;
        margin-bottom: 40px; 
    }
    
    
    .banner{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-left{
        padding: 20px;
    }
    .banner-right img{
        width: 100%;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .trusted-badge{
        display: none;
    }
    .plants-lover{
        flex-direction: column;
    }
    .plants-lover-left{
        width: 100%;
    }
    .img-container{
        flex-direction: column;
    }
    .join{
        margin-top: 900px;
    }
    .colurful-bunch{
        width: 100%;
    }
}